[Unit]
Description="Capture video at sunrise, midday and sunset -> send video to server -> set wakeuppoint on microcontroller -> shutdown pi"
After=multi-user.target

[Service]
User=nrkbeta
Type=forking
ExecStart=tmux new -d -s VideoLapse \; send-keys "cd /home/nrkbeta/" Enter \; send-keys "python3 VideoLapse.py" Enter


[Install]
WantedBy=multi-user.target